@import './vars';

/*desktop menu*/
.menu {
  &--desktop {
    position: absolute;
    background-color: $white;
    width: 140px;
    height: auto;
    box-shadow: 0px 0px 6px rgba(199, 199, 199, 0.65);
    border-radius: 4px;
    padding: 20px;
    z-index: 9;
    right: 52px;
    top: 50px;
    opacity: 1;
    transition: 0.3s ease-out all;
    ul {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      text-align: right;
      a {
        color: $dark;
        font-size: $md;
        margin-bottom: 24px;
        text-decoration: none;
        display: inline-block;
        font-weight: 700;
      }
      &:last-child {
        padding-top: 16px;
        border-top: 1px solid $text-input-field;
        a {
          color: $hospital-green;
          font-size: $sm;
          font-weight: 700;
          margin-bottom: 0;
        }
      }
    }
  }
  /*menu mobile*/
  &--mobile {
    padding: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 60px;
    left: 0px;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    background-color: $white;
    transform: translatey(0);
    transition: 0.3s ease-in-out all;
    &.inactive {
      transform: translatey(-100%);
    }
    .close {
      position: absolute;
      right: 24px;
    }
    ul {
      padding: 0;
      margin: 24px 0 0;
      list-style: none;
      display: block;
      &:nth-child(1) {
        margin: 0;
        border-bottom: 1px solid $text-input-field;
      }
      &:nth-child(3) {
        margin: 40px 0 0 0;
      }
    }
    li {
      margin-bottom: 24px;
      a {
        text-decoration: none;
        color: $dark;
        font-weight: 700;
        font-size: $md;
      }
    }
    .info__email {
      font-size: $sm;
      font-weight: 300;
    }
    .info__sing-out {
      font-size: $sm;
      color: $hospital-green;
    }
    .menu__info {
      li {
        &:first-child {
          margin-bottom: 16px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .menu--desktop {
    display: none;
  }
}
@media (min-width: 767px) {
  .menu--mobile {
    display: none;
  }
}
